.header {
    display: grid;
    text-align: center; 
    margin: 5px;
}
.job {
    text-align: center;
}
.iconContainer {
    display: flex;
    width: 45px;
    height: 45px;
    margin-top: 15px;
    margin-left: 15px;
}

.icon {
    display: flex;
    /* grid-column: auto; */
    width: 30px;
    height: 30px;   
}

/* .self {
    display: grid;
    
} */
.foot {
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
}